.cardWrapper.ant-card-bordered{
    border: none;
}
.ant-card-body{
    padding:20px 4px !important;
}


.converImg {
    border-radius: 10px 10px !important;
    height: 350px;
    width: 450px !important;
}